*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Raleway", sans-serif;
}

.header {
  background-image: linear-gradient(
      120deg,
      rgba(241, 147, 251, 0.399) 0%,
      rgba(85, 27, 35, 0.492) 100%
    ),
    url("../img/header.jpg");
  width: 100%;
  height: 650px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  overflow: hidden;
}

/*HEADER SUPERIOR*/

.header__sup {
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.search__input {
  width: 300px;
  padding: 10px;
}

.header__img {
  width: 250px;
}

.hero__text {
  height: 450px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.hero__text h1 {
  margin: 0;
  font-size: 3rem;
}

.hero__text p {
  font-size: 25px;
  margin-bottom: 20px;
  text-align: center;
}

.hero__text a {
  display: inline-block;
  text-decoration: none;
  padding: 12px 15px;
  background: #5618e6;
  border-radius: 8px;
  color: #fff;
}

.hero__svg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

/* Estilos generales */

.container {
  width: 90%;
  max-width: 1000px;
  overflow: hidden;
  margin: auto;
  padding: 80px 0;
}

.title {
  font-weight: 300;
  font-size: 35px;
  text-align: center;
  margin-bottom: 30px;
}

.title.left {
  text-align: left;
}

.title.right {
  text-align: right;
}

/* Section */

.website {
  display: flex;
  justify-content: space-between;
}

.website img {
  width: 48%;
}

.website .section__text {
  width: 40%;
}

.paragraph {
  text-align: justify;
  margin-bottom: 20px;
}

.cta {
  display: inline-block;
  text-decoration: none;
  background-image: linear-gradient(
    45deg,
    #a49aff 0%,
    #6459c5 99%,
    #23197c 100%
  );
  padding: 12px 15px;
  border-radius: 8px;
  color: #fff;
}

/* Info */

.info {
  background: #9457f5;
  color: #fff;
}

/* Cards */

.cards__content {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card {
  width: 30%;
  text-align: center;
  height: 300px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
  transform: scale(1);
  transition: transform 0.6s;
}

.card:hover {
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
  transform: scale(1.03);
  cursor: pointer;
}

.card i {
  margin: 30px 0 20px 0;
  color: #cc9199;
  font-size: 50px;
}

.card p {
  font-weight: 300;
  font-size: 25px;
  margin-bottom: 10px;
}

/* galeria */

.gallery {
  background: #c39af8;
}

.gallery__content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  overflow: hidden;
}

.gallery__content > img {
  width: 30%;
  object-fit: cover;
  margin-bottom: 20px;
  display: block;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.gallery__img:hover {
  transform: scale(1.04);
}

/* Gallery Lightbox */

.gallery__lightbox {
  display: grid;
  grid-template-columns: 50px 1fr 50px;
  gap: 1rem;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;
  display: none;
  z-index: 100;
  transition: all 0.5s ease-in;
}

.gallery__leftArrow,
.gallery__rightArrow {
  width: 95%;
  cursor: pointer;
}

.gallery__lightbox--close {
  position: absolute;
  top: 0;
  right: 1rem;
  font-size: 3rem;
  font-weight: bolder;
  color: #fff;
  cursor: pointer;
  z-index: 100;
}

.gallery__img--show {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid #ffffff81;
  border-radius: 5px;
  width: 80%;
  object-fit: cover;
  transition: all 0.5s ease-in;
}

/* info2 */

.section__last {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 40px;
}

.section__last img {
  width: 48%;
}

.section__last .section__text {
  width: 40%;
}

/* footer */

footer {
  background: #744fc9;
  color: #fff;
  text-align: center;
}

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.input {
  background: transparent;
  border: 0;
  color: #fff;
  outline: none;
  border: 1px solid #fff;
  padding: 20px 10px;
}

.input::placeholder {
  color: #fff;
  font-family: "raleway", "sans-serif";
}

input[type="text"],
input[type="email"] {
  display: inline-block;
  width: 49%;
  margin-bottom: 30px;
}

.form textarea {
  width: 100%;
  margin-bottom: 15px;
}

input[type="submit"] {
  width: 120px;
  text-align: center;
  padding: 14px 0;
}

input[type="submit"]:hover {
  cursor: pointer;
  color: tomato;
  background: #fff;
}

.scrollTop {
  position: fixed;
  z-index: 100;
  bottom: 1vh;
  right: 1rem;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 30%;
  font-size: 2.5rem;
  font-weight: bold;
  background-color: #80808071;
  backdrop-filter: blur(2px);
  color: #000000d8;
  cursor: pointer;
  outline: 0;
  border: 1px solid #00000066;
  transition: all 0.3s ease-out;
}

.scrollTop:hover {
  background-color: #fff;
  color: gray;
}

@media screen and (max-width: 800px) {
  .header__img {
    width: 200px;
  }

  .header__sup {
    padding: 10px;
  }

  .hero__text h1 {
    text-align: center;
    font-size: 50px;
  }
  /* estilos generales */
  .title {
    font-size: 35px;
  }

  .title.left {
    text-align: center;
  }

  .info p {
    text-align: center;
  }

  /* section */
  .website {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .website img {
    width: 100%;
  }

  .website .section__text {
    width: 100%;
    text-align: center;
  }

  /* Cards */

  .card {
    width: 90%;
    margin-bottom: 20px;
  }

  /* galeria */

  .gallery__content > img {
    width: 48%;
  }

  .gallery__img--show {
    width: 85%;
  }

  /* last */

  .section__last img {
    width: 98%;
  }

  .section__last .section__text {
    width: 98%;
    margin-bottom: 20px;
    text-align: center;
  }
}

@media screen and (max-width: 500px) {
  .title,
  .hero__text h1 {
    font-size: 30px;
  }

  .hero__text p {
    font-size: 20px;
    text-align: center;
  }

  .card {
    height: 380px;
  }

  .website .section__text {
    margin-bottom: 30px;
    text-align: center;
  }

  .gallery__content > img {
    width: 90%;
  }

  .gallery__img--show {
    width: 80%;
  }
}
